
<td>
  <input type="checkbox" id="<%= stair_layer.id %>">
</td>
<td>
  <%= stair_layer.canteen.region.name %>
</td>

<td>
  <%= stair_layer.canteen.name %>
</td>
<td>
  <%= "#{stair_layer.layer}楼" %>
</td>
