<%tr_style = tr_style || ''
%>
<tr class="<%= tr_style %>">
  <%= yield %>
  <td>
    <button type="button" class="btn btn-info btn-xs" name="edit">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true">修改</span>
    </button>
    <button type="button" class="btn btn-danger  btn-xs" name="delete">
      <span class="glyphicon glyphicon-remove" aria-hidden="true">删除</span>
    </button>
  </td>
</tr>